* {
    box-sizing: border-box;
}

body {
    background-color: #EAEAEA;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    text-align: center;
}

header:link {
    text-decoration: none;
    color: #FFFFFF;
}

header:visited {
    text-decoration: none;
    color: #FFFFFF;
}

header:hover {
    color: #90C7E3
}

h1 {
    font-family: Georgia, 'Times New Roman', serif;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    letter-spacing: 0.25em;
}

h2 {
    font-family: Georgia, 'Times New Roman', serif;
    color: #1976D2;
    text-shadow: 1px 1px 1px #CCCCCC;
}

h3 {
    font-family: Georgia, 'Times New Roman', serif;
    color: #000033;
}

nav {
    font-weight: bold;
    font-size: 120%;
    padding: 0;
    text-align: center;
}

nav a{
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

nav li {
    border-bottom: 1px solid #002171
}

nav:link {
    color: #5C7FA3;
}

nav:visited {
    color: #344873;
}

nav:hover {
    color: #A52A2A;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
    overflow: auto;
    background-color: #FFFFFF;
}

main ul {
    list-style-image: url(marker.gif);
}

dt {
    color: #002171
}

.resort {
    color: #1976D2;
    font-weight: bold;
}

#contact {
    font-size: 90%;
}

#wrapper {
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
}

#homehero {
    height: 300px;
    background-image: url(coast2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#yurthero {
    height: 300px;
    background-image: url(yurt.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#trailhero {
    height: 300px;
    background-image: url(trail.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 75%;
    font-style: italic;
    text-align: center;
    padding: 2em;
    background-color: #FFFFFF;
}

table {
    border: 2px solid #3399CC;
    border-collapse: collapse;
}

td {
    border: 2px solid #3399CC;
    padding: 0.5em;
    text-align: center;
}

th {
    border: 2px solid #3399CC;
    padding: 0.5em;
}

.text {
    text-align: left;
}

tr:nth-of-type(odd) {
    background-color: #F5FAFA;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

form input {
    margin-bottom: 0.5em;
}

form textarea {
    margin-bottom: 0.5em;
}


@media (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    nav li {
        border-bottom: none;
    }

    section {
        margin-left: 2em;
        margin-right: 2em;
        flex: 1;
    }

    .flow {
        display: flex;
        flex-direction: row;
    }

    form {
        width: 60%;
        max-width: 30em;
        display: grid;
        gap: 1em;
        grid-template: "textarea input"
                        "textarea input"
                        "textarea input"
                        "textarea input"
                        "textarea input"
                        "textarea input"
                        "textarea input"
                        "textarea input" / 6em 1fr;
    }
}

@media (min-width: 1024px) {
    #wrapper {
        margin: auto;
        width: 80%;
        border: 1px solid #002171;
        box-shadow: 3px 3px 3px #002171;
    }

    nav {
        text-align: left;
        padding-left: 1em;
    }

    @supports (display: grid) {
        nav ul {
            flex-direction: column;
            padding-top: 1em;
        }

        header {
            grid-area: header;
        }

        main {
            grid-area: main;
        }

        nav {
            grid-area: nav;
        }

        .hero {
            grid-area: hero;
        }

        footer {
            grid-area: footer;
        }

        #wrapper {
            display: grid;
            grid-template: "header header"
                            "nav hero"
                            "nav main"
                            "nav footer" / 180px 1fr;
        }

    }
}
